ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    font-family: Roboto, sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
}

.logo-studio {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2E2F42;
    text-transform: uppercase;
}

.nav-list a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #404BBF;
}

.address-list a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.address-list a:hover,
.address-list a:focus {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
}

.hero-btn {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

.benefits-item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.benefits-item p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-item {
    background-color: #FFFFFF;
}

.team-item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-item p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio-item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio-item p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.footer {
    background-color: #2E2F42;
}

.logo-footer {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #F4F4FD;
    text-transform: uppercase;
}

.footer-item p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}